body {
  background: #1e1f24;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
#container {
  width: 70%;
  margin: 10px auto;
  padding: 0;
  border: 1px solid #ddd;
}
#container #cabecera {
  background: #37488b;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
  font-size: 1.1em;
}

#cabecera #logo {
  width: 40px;
  vertical-align: middle;
}

#container #cabecera #tagline {
  font-weight: normal;
  font-size: 0.8em;
  padding: 0 0 0 0.5em;
}

#container h1 {
  font-size: 24px;
}

#container #post {
  background: white;
  padding: 1em;
}

#footer {
  background: #37488b;
  color: white;
  text-align: center;
  padding: 0.5em;
}
